<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.mmguardian.com.location_tracking" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>


    <application
        android:name=".LocationTrackingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyCJBWL2USEOW38-k2C1SRQB4sB9QbzHCeQ"/>

        <activity
            android:name=".MainActivity2"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.ServiceRequestRestartBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="app.mmguardian.com.location_tracking.ServiceRequestRestart"/>
            </intent-filter>
        </receiver>

        <service android:name=".service.TrackingService"
            android:enabled="true"
            android:exported="true"/>

        <service android:name=".service.MyIntentService"/>

        <receiver android:name=".receiver.NotificationPublisher" />

        <!--<receiver-->
            <!--android:process=":remote"-->
            <!--android:name=".receiver.AlarmReceiver" />-->

        <receiver
            android:name=".receiver.ServiceRequestRestartBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name="app.mmguardian.com.location_tracking.ServiceRequestRestart"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="app.mmguardian.com.location_tracking.ALARM"/>
            </intent-filter>
        </receiver>

    </application>



</manifest>